/* SF Pro Display Regular */
@font-face {
  font-family: "SF Pro Display";
  font-weight: 400;
  src: url("../../fonts/SF-Pro-Display-Regular.otf") format("opentype");
}

/* SF Pro Display Medium */
@font-face {
  font-family: "SF Pro Display";
  font-weight: 500;
  src: url("../../fonts/SF-Pro-Display-Medium.otf") format("opentype");
}

/* SF Pro Display Semibold */
@font-face {
  font-family: "SF Pro Display";
  font-weight: 600;
  src: url("../../fonts/SF-Pro-Display-Semibold.otf") format("opentype");
}

/* SF Pro Display Bold */
@font-face {
  font-family: "SF Pro Display";
  font-weight: 700;
  src: url("../../fonts/SF-Pro-Display-Bold.otf") format("opentype");
}

* {
  font-family: "SF Pro Display", sans-serif;
}

body {
  background-image: url("../../assets/tma_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* .bg-overlay {
    position: relative;
} */

/* .bg-overlay::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
} */

/* Allow a text is selectable or not */
.selectable-text {
  user-select: auto;
}

.unselectable-text {
  user-select: none;
}
